@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --whiteColor: #ffffff;
  --secondaryColor: #f5f7f8;
  --primaryColor: #00419e;
  --darkColor: #1f1f1f;
  --textColor: #636363;
  --footerColor: #1a202c;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "PT Sans", sans-serif;
}

/* header first */
header {
  border: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  right: 0;
  padding: 24px;
  background-color: var(--whiteColor);
  transition: all 0.3s;
  z-index: 9999;
  box-shadow: 0 0 2px 0 rgba(145, 158, 171, 0.2),
    0 12px 24px -4px rgba(145, 158, 171, 0.12);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}
.container__logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.burger i {
  font-size: 1.2rem;
  transition: all 0.3s;
  z-index: 99;
}
.burger {
  display: none;
}
.container__logo .logo__header {
  font-weight: bold;
  font-size: 1.4rem;
}

.menu {
  display: flex;
}
.menu li {
  padding: 12px 16px;
}
a {
  text-transform: capitalize;
  color: var(--textColor);
  font-weight: 200;
  font-size: 1.1rem;
}
.menu li a:hover {
  font-weight: bold;
  color: var(--primaryColor);
}
.active {
  color: var(--primaryColor);
  font-weight: bold;
}
.daftar__menu {
  display: flex;
  gap: 1rem;
}
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}
.btn-primary {
  background-color: var(--primaryColor);
  color: var(--whiteColor);
  font-weight: bold;
  box-shadow: 0 0 2px 0 rgba(145, 158, 171, 0.2),
    0 12px 24px -4px rgba(145, 158, 171, 0.12);
}
.btn-outline-primary {
  border: 1px solid var(--secondaryColor);
  box-shadow: 0 0 2px 0 rgba(145, 158, 171, 0.1),
    0 12px 24px -4px rgba(145, 158, 171, 0.1);
}
.btn:hover {
  box-shadow: none;
  background-color: var(--primaryColor);
  color: yellow;
}
.menu .menu__logo {
  display: none;
}

/* header end */

/* hero first */
.wrapper__main {
  position: relative;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-block: 4rem;
  max-width: 100%;
  overflow: hidden;
  background-color: var(--secondaryColor);
  border-radius: 40px;
}
.container__hero {
  max-width: 1200px;
  padding: 1rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}
.header__hero,
.image__hero {
  max-width: 50%;
}
.header__hero {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.header__hero__title span {
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.header__hero__subtitle span {
  font-size: 1rem;
  letter-spacing: 1px;
  color: var(--textColor);
}
.button__hero {
  margin-top: 1.2rem;
}
.image__hero img {
  width: 700px;
  height: 500px;
}
/* hero end */

/* product first */
.wrapper__product {
  width: 100%;
  overflow: hidden;
  margin-top: -60px;
  /* padding: 1rem; */
}
.container__product {
  max-width: 1200px;
  /* padding: 1rem; */
  margin: auto;
  overflow: hidden;
}
.header__product h1 {
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: bold;
}
.container__product__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.content__data__product {
  padding: 1rem;
  height: auto;
}
.btn-sm {
  padding: 2px 18px;
  border-radius: 10px;
  border: none;
}
.button__product {
  margin-top: 1rem;
}
.button__product a {
  color: var(--secondaryColor);
  font-size: 0.9rem;
}
.button__product a:hover {
  color: var(--whiteColor);
}
.product__title span {
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: capitalize;
}
.product__subtitle span {
  text-transform: capitalize;
  font-size: 0.9rem;
  line-height: 2.5rem;
  color: var(--textColor);
}
.product__description li {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}
.product__description li span {
  color: var(--primaryColor);
}
.product__description li p {
  color: var(--textColor);
}
.order__2 {
  order: 2;
}
/* product end */

/* testimony first */
.wrapper__testimoni {
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
  padding: 1rem;
  background-color: var(--secondaryColor);
}
.container__testimoni {
  max-width: 1200px;
  padding: 1rem;
  margin: auto;
  overflow: hidden;
}
.header__testimoni h1 {
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 2rem;
}
.container__testimoni__card {
  position: relative;
}
.card__testimoni__container {
  padding-block: 5rem;
}
.content__testimoni {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  overflow: hidden;
}
.card__testimoni {
  border: 1px solid var(--secondaryColor);
  border-radius: 10px;
  width: 300px;
  padding: 1.2rem;
  overflow: hidden;
  background-color: var(--whiteColor);
  box-shadow: 0 0 2px 0 rgba(145, 158, 171, 0.2),
    0 12px 24px -4px rgba(145, 158, 171, 0.12);
}
.card__data__testimoni {
  display: flex;
  gap: 0.1rem;
  justify-content: flex-start;
  padding: 0.2rem;
  margin-bottom: 0.5rem;
}
.card__data__testimoni img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.card__data__identitas__testimoni {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card__data__identitas__testimoni h5 {
  font-weight: 600;
  font-size: 0.69rem;
  color: var(--darkColor);
}
.card__data__identitas__testimoni span {
  font-weight: 300;
  font-size: 0.8rem;
  color: var(--textColor);
}
.card__description__testimoni {
  padding: 0.2rem;
}
.card__description__testimoni p {
  color: var(--textColor);
  font-size: 0.8rem;
  letter-spacing: 1px;
}
.card__rating__testimoni {
  margin-top: 0.5rem;
}
.card__rating__testimoni ul {
  display: flex;
  gap: 0.2rem;
}
.card__rating__testimoni li i {
  color: gold;
}
/* testimony end */

/* question first */
.wrapper__question {
}
.container__question {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header__question h1 {
  margin-bottom: 0.5rem;
  text-align: center;
}

.container__question .accordion-wrapper {
  padding: 0 20px;
}
.container__question .accordion {
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 0 0 2px 0 rgba(145, 158, 171, 0.9),
    0 12px 24px -4px rgba(145, 158, 171, 0.12);
}
.container__question .accordion-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background: #fff;
  padding: 15px 20px;
}
.container .accordion-heading h3 {
  font-size: 20px;
}
.container__question .accordion-content {
  padding: 15px 20px;
  font-size: 15px;
  background: #fff;
  border-top: 0;
  display: none;
  animate: animate 0.2s linear backwards;
  line-height: 2;
  transform-origin: top;
  color: var(--textColor);
}

.container__question .accordion.active .accordion-heading {
  color: black;
}
.container__question .accordion.active .accordion-heading i {
  color: #fff;
  transform: rotate(180deg);
  transition: transform 0.2s 0.1s;
}
.container__question .accordion.active .accordion-content {
  display: block;
}

@keyframe animate {
  0% {
    transform: scaleY(0);
  }
}

/* question end */

/* footer first */
.wrapper__footer {
  border: none;
  background-color: var(--footerColor);
  padding: 1rem;
}
.container__footer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.footer__logo {
  margin-bottom: 1rem;
}
.footer__logo span {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--secondaryColor);
  text-transform: capitalize;
}
.footer__address p {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--secondaryColor);
  text-transform: capitalize;
}
.footer__contact .title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--secondaryColor);
  text-transform: capitalize;
}
.footer__contact ul {
  margin-top: 1rem;
}
.footer__contact ul li i,
.footer__contact ul li span {
  color: var(--secondaryColor);
}
/* footer end */

/* media screen first */
/* media screen 925px first */
@media screen and (max-width: 925px) {
  /* header first */
  .burger {
    display: block;
  }
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    bottom: 0;
    flex-direction: column;
    z-index: 99999;
    gap: 2rem;
    transform: translateX(-100%);
    transition: 0.5s ease-in-out;
    background-color: var(--whiteColor);
    box-shadow: 0 0 2px 0 rgba(145, 158, 171, 0.1),
      0 12px 24px 1px rgba(145, 158, 171, 0.1);
  }
  nav .menu li {
    text-align: center;
  }
  nav .menu li a {
    font-weight: 600;
  }
  .menu .menu__logo {
    display: flex;
    width: 100%;
    padding: 1.2rem;
    align-items: center;
    gap: 1.2rem;
  }
  .menu .menu__logo span,
  .menu .menu__logo i {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--darkColor);
  }
  .main__menu__active {
    transform: translateX(0);
  }
  /* header first */
  /* hero first */
  .header__hero__title span {
    font-size: 1.9rem;
  }
  .header__hero__subtitle span {
    font-size: 0.9rem;
  }
  .image__hero img {
    width: 500px;
    height: 300px;
  }
  /* hero end */
}
/* media screen 925px end */

/* media screen 768px first */
@media screen and (max-width: 768px) {
  /* hero first */
  .container__hero {
    flex-direction: column;
  }
  .header__hero,
  .image__hero {
    max-width: 100%;
  }
  .image__hero img {
    width: 500px;
    height: 350px;
  }
  .header__hero {
    order: 1;
  }
  .header__hero__title,
  .header__hero__subtitle,
  .button__hero {
    text-align: center;
  }
  .content__image__product img {
    width: 300px;
    height: 300px;
  }
  .container__product__list {
    flex-direction: column;
  }
  .order__2 {
    order: -1;
  }
  /* hero end */
}
/* media screen 768px end */

/* media screen 500px first */
@media screen and (max-width: 500px) {
}
/* media screen 500px end */
/* media screen end */
